<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>

<h2>Your Cart</h2>

{% if empty %}
    <p>Cart is empty</p>
    <a href="/">Go to Products</a>
{% else %}
    {% for item, qty in cart.items() %}
        <p>
            {{ item }} - ₹{{ products[item] }} x {{ qty }}
            <a href="/cart/update/{{ item }}/increase">+</a>
            <a href="/cart/update/{{ item }}/decrease">-</a>
        </p>
    {% endfor %}

    <h3>Total: ₹{{ total }}</h3>

    <a href="/cart/clear">Clear Cart</a><br><br>
    <a href="/">Continue Shopping</a>
{% endif %}

</body>
</html>